:root {
    --app-background-color: #edf2f7;
    --container-background-color: #fefeff;
    --container-box-shadow-color: rgb(0 0 0 / 0.4);
    --divider-border-color: #000;
    --form-field-placeholder-color: #666666;
    --field-label-transistion-value: 220ms;
    --app-default-font-color: #000;
    --add-button-hover-bg: #000;
    --delete-button-hover-bg: #ed0000;
    --submit-button-hover-bg: #4F46E5;
    --button-hover-font-color: #fff;
    --submit-divider-color: #6a737c;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
body,
.app-header {
    background-color: var(--app-background-color);
}
.App {
    width: 720px;
    margin: 0 auto;
}
.cv-form {
    padding: 1rem;
    border-radius: 5px;
}
.cv-form,
.cv-preview-container {
    background-color: var(--container-background-color);
    box-shadow: 0 3px 10px var(--container-box-shadow-color);
}
.app-header {
    text-align: center;  
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--divider-border-color);
    padding-bottom: 1rem;
    z-index: 1;
}
.section-header {
    border-bottom: 2px solid var(--divider-border-color);
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2.5rem;
    margin-top: 2rem;
}
.form-group {
    flex-basis: 48%;
    position: relative;
}
.text-area-group {
    flex-basis: 98%;
}
.text-area-group > .input-field {
   resize: none;
   width: 98%;
   height: 70px;
}
.input-field {
    padding: 5px;
    width: 95%;
}
.floating-label {
    position: absolute;
    left: 8px;
    top: 5px;
    color: var(--form-field-placeholder-color);
    transition: transform var(--field-label-transistion-value) ease-out;
}

.form-group > input:focus + .floating-label,
.form-group > textarea:focus + .floating-label,
.floating-label-focused {
    transform: translate(-8px, -180%);
    color: var(--app-default-font-color);
}
.btn {
    background: transparent;
    padding: 10px;
    min-width: 100px;
    border: 1px solid var(--divider-border-color);
}
.btn:hover {
    color: var(--button-hover-font-color)
}
.add-btn:hover {
    background-color: var(--add-button-hover-bg);
}
.delete-btn:hover {
    background-color: var(--delete-button-hover-bg);
}
.submit-btn:hover {
    background-color: var(--submit-button-hover-bg);
}
.btn-grp {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.submit-btn-grp {
    width: fit-content;
    margin: 1rem auto 0 auto;
}
.hide {
    display: none!important;
}
.submit-divider {
    height: 1px;
    background-color: var(--submit-divider-color);
    margin: 1rem 3rem;
}
.cv-preview-container {
    display: flex;
}
.cv-preview-left {
    max-width: 250px;
    background-color: var(--form-field-placeholder-color);
    color: var(--button-hover-font-color);
    padding: 10px;
    box-sizing: border-box;
}
.cv-preview-right {
    flex-grow: 1;
    padding: 15px 5px 0 10px;
}
.image-container {
    margin: 0 auto;
    width: fit-content;
}
.placeholder-image {
    width: 125px;
    border-radius: 50%;
}
.info-grp {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.info-grp > * {
    flex-basis: 50%;
    margin: 0;
}
.display-name {
    width: 100%;
}
.font-icon {
    font-size: 20px;
}
.projects-preview > p:last-child {
    flex-basis: 100%;
}